/*app.styles.css*/

html, body {
  margin: 0;
  padding: 0;
}
.capitalize { text-transform: capitalize; }
img { max-width: 100%; }


/*CSS flexbox support*/
/*the below won't affect standard layouts*/
/*only creating a root template div with the .flex-content class will be different*/
/*see the home and login routes for examples*/
.flex-wrapper > *:not(router-outlet) {
  display: flex;
  /*center items by default*/
  align-items: center;
  flex-grow: 1;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
.flex-content {
  flex: 1;
  flex-grow: 1;
  /*give some padding to prevent things from overflowing the top/bottom*/
  padding-top: 5vh;
  padding-bottom: 15vh;
}
.flex-content.flex-true {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
/*add the .flex-top class to align things to the top, with flexbox!*/
.flex-content.flex-top {
  padding-top: 10vh;
  padding-bottom: 10vh;
  align-self: flex-start;
}
