<!-- app.html -->

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" [routerLink]="['/']"><img src='https://aswwu.com/media/images/masklogo.png' style="height:30px;"/></a>


  <div class="nav navbar-nav pull-xs-right">
    <div class="nav-item hidden-xs-down">
      <search-bar></search-bar>
    </div>
    <a class="nav-item nav-link" [routerLink]="['/supersearch']">Super Search</a>
    <a class="nav-item nav-link" *ngIf="!req.isAuthenticated()" [routerLink]="['/login']">Login</a>
    <div class="nav-item" dropdown keyboardNav="true" *ngIf="req.isAuthenticated()">
      <a class="nav-link" dropdownToggle href="javascript:void()">{{req.getUser().full_name}} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/profile', req.getUser().username]">View Profile</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/update']">Update Profile</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/login']" (click)="req.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="flex-wrapper">
  <router-outlet></router-outlet>
</div>

<div id="background" [class.hash]="backgroundHash" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}"></div>
