<!-- update.component.html -->

<form class="container flex-content flex-top" (submit)="saveProfile()" *ngIf="profile">
  <div class="row">
    <h2>Update Profile</h2>
  </div>

  <div class="row">
    <br>
    <div *ngFor="let url of possiblePhotos" class="col-xs-4 col-md-2 possiblePhoto" (click)="changePhoto(url)">
      <img src="{{ profile.getPhotoLink(url) }}" [class.checked]="url.split('/').pop() == profile.photo.split('/').pop()">
    </div>
  </div>
  <br>

  <div *ngFor="let section of fieldSections; let i = index" class="row">
    <div *ngIf="req.getUser().status.toLowerCase() != 'student' || (i + 1) < fieldSections.length" class="row">
      <hr>
      <div *ngFor="let key of section" class="col-xs-12 col-sm-6">
        <div class="form-group">

          <label class="text-warning text-capitalize">{{displayKey(key)}}</label>

          <input *ngIf="!selectFields[key]" type="text" class="form-control" [(ngModel)]="profile[key]" [attr.id]="'input_' + key">

          <div *ngIf="searchableFields[key] && profile[key].split(',').pop().trim().length > 0" class="field-results">
            <p *ngFor="let field of searchableFields[key]; let i = index" class="text-muted" (click)="setSearchableField(key, field)">
              <span *ngIf="field.toLowerCase().indexOf(profile[key].split(',').pop().trim().toLowerCase()) == 0" class="text-muted">{{field}}</span>
            </p>
          </div>

          <select *ngIf="selectFields[key]" [(ngModel)]="profile[key]" class="form-control text-capitalize">
            <option *ngFor="let field of selectFields[key]" [value]="key == 'privacy' ? selectFields[key].indexOf(field) : field">{{field}}</option>
          </select>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
    <button class="btn btn-lg btn-success form-control" type="submit">Save!</button>
  </div>
</form>
