<!-- profile-view.component.html -->

<div *ngIf="profile">

  <div *ngIf="size == 'full'" class="profile profile-full row">
    <div class="col-xs-12 col-md-6">
      <img src={{profile.photoLink()}}>
    </div>
    <div *ngIf="profile.error" class="col-xs-12">
      <h2 class="text-capitalize">{{profile.error}}</h2>
    </div>
    <div *ngIf="!profile.error" class="col-xs-12 col-md-6">
      <h1 class='text-capitalize'>{{profile.full_name}} <span *ngIf="profile.year != CURRENT_YEAR">({{profile.year}})</span></h1>
      <hr>
      <p *ngFor="let key of fieldsInOrder">
        <span *ngIf="profile[key]">
          <i class="text-muted text-capitalize">{{displayKey(key)}}</i> -
          <!-- If the profile is email, phone or website do this.  -->
          <a *ngIf="key == 'email' || key == 'phone' || key == 'website'" href="{{profile.linkByField(key)}}" target="_blank" class="text-white">
            <h5 style="display: inline;font-weight:normal;">{{profile[key]}}</h5>
          </a>
          <!-- else -->
          <span *ngIf="!(key == 'email' || key == 'phone' || key == 'website')">
            <a *ngFor="let value of profile[key].split(',');let last = last" [routerLink]="['/search', encode(key + '=' + value) ]" class="text-white">
              <h5 style="display: inline;font-weight:normal;">{{value}}<span *ngIf="!last">,</span></h5>
            </a>
          </span>
        </span>
      </p>
    </div>
  </div>

  <div *ngIf="size == 'search'" class="profile profile-search col-xs-6 col-md-4 col-lg-3">
    <div class="img-box">
      <img src={{profile.photoLink()}}>
    </div>
    <h4 class="text-capitalize center">{{profile.error || profile.full_name}}</h4>
  </div>

</div>
